#############################################

#############################################
.cache/

# Misc

#############################################

#############################################
*.jar
*.war
*.ear

# Archives (Generated)

#############################################

#############################################
.DS_Store
Thumbs.db
Desktop.ini

# OS Files

#############################################

#############################################
tmp/
temp/
*.tmp
*.bak
*.swp
*~

# Temporary Files

#############################################

#############################################
logs/
*.log

# Logs

#############################################

#############################################
.env
.env.*

# Environment Variables

#############################################

#############################################
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml

# Spring Boot

#############################################

#############################################
.gradle/
build/

# Gradle

#############################################

#############################################
target/

# Maven

#############################################

#############################################
*.class
*.log
.ctxt
hs_err_pid
replay_pid*

# Java

#############################################

#############################################
.vscode/

# VS Code

#############################################

#############################################
.idea/
*.iml

# IntelliJ IDEA

#############################################

#############################################
.project
.classpath
.settings/
.metadata/
.recommenders/
.externalToolBuilders/
.loadpath
.factorypath
.springBeans
.sts4-cache/

# Eclipse